.selector{
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

select{
    margin: 10px 200px;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

.title {
    padding: 5px 5px;
    background: #50A0FF;
}

.title ul li {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px
}